:host {--QuantumMemoHeight: 100px;}

.QuantumMemo
{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    border: solid;
    width: 300px;
    height: var(--QuantumMemoHeight);
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

.QuantumMemo:empty {line-height: var(--QuantumMemoHeight);}
.QuantumMemo:not(:empty) {line-height: auto;}