.QuantumMemo
{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    border: solid;
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: auto;
}